@font-face {
    font-family: euphorigenic;
    src: url('font/euphorigenic.ttf');
}

@font-face {
    font-family: rutaban;
    src: url('font/rutaban.ttf');
}

body {
    background-color: rgba(247, 243, 240, 255);
    color: rgba(68, 57, 38, 255);
    font-family: rutaban;
    background: url('/img/bgpolos.png');
    background-size: cover;
}

.bold {
    font-family: euphorigenic;
}

.btn-sepik {
    background-color: rgba(68, 57, 38, 255);
    color: white;
}

.btn-sepik:hover {
    color: white;
}

input,
select,
textarea,
.rp {
    border: 1px solid rgba(68, 57, 38, 255) !important;
    background-color: rgba(68, 57, 38, 255);
}

input[type=file]::file-selector-button {
    background-color: rgba(68, 57, 38, 255);
    color: white;
}

input[type=file]::file-selector-button:hover {
    background-color: rgba(247, 243, 240, 255) !important;
    color: black !important;
}

.imgBukti {
    max-width: 300px;
    cursor: pointer;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.count-down-box {
    background-color: rgba(68, 57, 38, 255);
    color: rgba(247, 243, 240, 255);
    width: 25%;
    padding: 5px;
    margin: 2px;
    text-align: justify;
    border-radius: 5px;
    align-items: flex-start;
}

.count-down-time {
    position: relative;
    text-align: center;
    font-size: 56pt;
    color: rgba(247, 243, 240, 255);
}

.donasi-box{
    width: 100% !important;
}