            @font-face {
            font-family: rutaban;
            src: url("../font/rutaban/RUTAN___.TTF");
        }
        
        @font-face {
            font-family: euphorigenic;
            src: url("../font/euphorigenic/euphorigenic.ttf");
        }
        
        body {
            background-color: rgba(247, 243, 240, 255);
            color: rgba(68, 57, 38, 255);
            font-family: rutaban !important;
            background: url('/img/bgpolos.png');
            background-size: cover;
        }
        
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            /* color: #443926;*/
            background-color: #ad966d;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
            text-transform: uppercase;
            font-weight: 400;
        }
        
        .sidebar .judul {
            padding: 0px 0px 0px 32px;
            text-decoration: none;
            font-family: euphorigenic;
            font-size: 25px;
            color: #443926;
            display: block;
            transition: 0.3s;
            cursor: pointer;
        }
        
        .sidebar .sub-judul {
            padding: 0px 0px 0px 42px;
            text-decoration: none;
            font-family: rutaban;
            font-size: 25px;
            color: #443926;
            display: block;
            transition: 0.3s;
            cursor: pointer;
        }
        
        .sidebar .judul:hover {
            color: black;
        }
        
        .sidebar .closebtn {
            color: #443926;
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        .sidebar .closebtn:hover {
            color: black;
        }
        /* #skrollr-body {
      float: left;
      width: 100%;
      height: 100%;
  } */
        
        #code {
            display: hidden;
        }
        
        .sidebar .sub-judul:hover {
            color: black;
            font-size: 27px;
        }
        
        .bold {
            font-family: euphorigenic;
        }
        
        .btn-sepik {
            background-color: rgba(68, 57, 38, 255) !important;
            color: white !important;
        }
        
        .btn-sepik:hover {
            color: white;
        }
        
        input,
        select,
        textarea,
        .rp {
            border: 1px solid rgba(68, 57, 38, 255) !important;
            background-color: rgba(68, 57, 38, 255);
        }
        
        input[type=file]::file-selector-button {
            background-color: rgba(68, 57, 38, 255);
            color: white;
        }
        
        input[type=file]::file-selector-button:hover {
            background-color: rgba(247, 243, 240, 255) !important;
            color: black !important;
        }
        
        .imgBukti {
            max-width: 300px;
            cursor: pointer;
        }
        /* Style the Image Used to Trigger the Modal */
        
        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
        
        #myImg:hover {
            opacity: 0.7;
        }
        /* The Modal (background) */
        
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 4;
            /* Sit on top */
            padding-top: 100px;
            /* Location of the box */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9);
            /* Black w/ opacity */
        }
        /* Modal Content (Image) */
        
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
        /* Add Animation - Zoom in the Modal */
        
        .modal-content,
        #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        
        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }
        /* The Close Button */
        
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
        /* 100% Image Width on Smaller Screens */
        
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
        
        .count-down-box {
            background-color: rgba(68, 57, 38, 255);
            color: rgba(247, 243, 240, 255);
            width: 25%;
            padding: 5px;
            margin: 2px;
            text-align: justify;
            border-radius: 5px;
            align-items: flex-start;
        }
        
        .count-down-time {
            position: relative;
            text-align: center;
            font-size: 56pt;
            color: rgba(247, 243, 240, 255);
        }
        
        .donasi-box {
            width: 100% !important;
        }
        
        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }
            .sidebar .judul {
                font-size: 18px;
            }
            .sidebar .sub-judul:hover {
                color: black;
                font-size: 27px;
            }