@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  position: relative;
  overflow: hidden;
}

.awan {
  position: absolute;
  z-index: 0;
  animation: updown 1s linear infinite;
}

.awan-1 {
  top: 0;
  width: 25vw;

  left: -10vw;
}

.awan-2 {
  top: -21vw;
  width: 50vw;
  right: 13vw;
}

.awan-3 {
  top: -6vw;
  width: 50vw;
  right: -35vw;
}

.awan-4 {
  top: 10vw;
  width: 30vw;
  left: 5vw;
}

.awan-5 {
  top: 50%;
  width: 30vw;

  left: -10%;
}

.awan-6 {
  top: 50%;
  width: 30vw;

  right: 20%;
}

.awan-7 {
  top: 40%;
  width: 30vw;

  right: -10%;
}

.awan-8 {
  bottom: -13vw;
  width: 50vw;
  left: 20vw;
}

.logo-sepik {
  /* position: absolute;
  top: 0;
  bottom: 0; */
  margin: auto;
  height: 30vw;
  /* width: 100px; */
  /* width: 30vw; */
  z-index: 1;
  /* transform: translateY(-130vw); */
  /* animation: slideup 5s ease-in-out; */
  /* animation: bigger 1s ease-in-out backwards;
  animation-delay: 4s; */
  /* display: none; */
}

.div-logo-sepik {
  display: flex;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 2;
  position: absolute;
  /* transform: translateY(-130vw); */
  animation: slideup 0.6s ease backwards;
  animation-delay: 3s;
}

/* section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
} */
/* .section-1 {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .text-1 {
  position: relative;
  font-size: 2vw;
  color: brown;
  letter-spacing: 2px;
} */
.set-height {
  height: 33.333333333333vh;
  align-items: center;
  background-color: #ddd7c9;
}
.text {
  font-size: 2vw;
  text-align: center;
  color: #a79d93;
  z-index: 1;
}

section .text span {
  /* position: relative; */
  display: inline-block;
  /* text-shadow: 0 -60px 0 #fff, 0 60px 0 #fff; */
  animation: animate 2s ease-in-out infinite;
}
@keyframes updown {
  0% {
    transform: translate(0, 20px);
  }
  50% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}

@keyframes animate {
  0% {
    /* transform: translateY(70px); */
    transform: translateY(2vw);
  }
  50% {
    /* transform: translateY(-70px); */
    transform: translateY(-2vw);
  }
  100% {
    /* transform: translateY(70px); */
    transform: translateY(2vw);
  }
}

@keyframes slideup {
  from {
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1;
    position: absolute;
    transform: scale(0.35) translateY(130%);
    opacity: 0;
    /* transform: translateY(100%); */
  }
  to {
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 1;
    position: absolute;
    transform: scale(1) translateY(0%);
    opacity: 1;
  }
}

/* @keyframes bigger {
  0% {
    transform: scale(0.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */
