@font-face {
    font-family: rutaban;
    src: url("../font/rutaban/RUTAN___.TTF");
}

* {
    font-family: rutaban;
    overflow-x: hidden;
}

body {
    background: #f7f3f0;
    height: 100vh;
    width: 100vw;
}

.form-width {
    width: 60%;
}

.batik {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 576px) {
    .form-width {
        width: 95%;
    }
    .vertical-center {
        margin: 0 !important;
        position: relative !important;
        top: 0 !important;
        -ms-transform: translateY(0%) !important;
        transform: translateY(0%) !important;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.wrapper {
    max-width: 700px;
}

#vote-button {
    display: block;
    width: 100%;
    border-radius: 80px;
    background-color: #262626;
    border-color: #262626;
    /* transition: 0.5s; */
}

#vote-button:hover {
    /* padding-left: 22px;
    padding-right: 22px; */
    background-color: rgb(117, 109, 109);
    border-color: rgb(117, 109, 109);
    color: white;
    /* transition: 0.5s; */
}

/* SUCCESS VOTE MODAL */

/*--thank you pop starts here--*/
.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}
.thank-you-pop img {
    width: 76px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.thank-you-pop h1 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #5c5c5c;
}
.thank-you-pop p {
    font-size: 20px;
    margin-bottom: 27px;
    color: #5c5c5c;
}
.thank-you-pop h3.cupon-pop {
    font-size: 25px;
    margin-bottom: 40px;
    color: #222;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px dashed #222;
    clear: both;
    font-weight: normal;
}
.thank-you-pop h3.cupon-pop span {
    color: #03a9f4;
}
.thank-you-pop a {
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8bc34a;
    border-radius: 17px;
}
.thank-you-pop a i {
    margin-right: 5px;
    color: #fff;
}
#ignismyModal .modal-header {
    border: 0px;
}
/*--thank you pop ends here--*/
